APP_PORT=8282

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bumdes
DB_SSLMODE=disable

JWT_SECRET=change-me-secret
JWT_EXP_HOURS=24

# H- berapa hari sebelum tanggal jatuh tempo, tagihan billing dibuat oleh cron
BILLING_DUE_REMINDER_DAYS=7
